.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 20px 0px;
}
.review-item {
  margin: 10px 10px 10px 10px;
  width: 40%;
  padding: 0px 10px 0px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.review-header {
  font-size: 1.2em;
  color: #333;
  display: flex;
  align-items: center;
}

.review-content {
  font-size: 1em;
}

.review-date {
  font-style: italic;
  color: gray;
  font-size: 0.9em;
}
